@model List<vladandartem.ClassHelpers.CartProduct>
@{
    ViewData["Title"] = "Shop";
}

@section Scripts {
    <!--<script src="~/js/cart.js"></script>-->
    <script src="~/js/cart-vue.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.PersonalArea.GetTabsViewModel { SectionId = 2 })

<main class="container lop" id="cart">
    <!--<div>{{ products }}</div>-->
    <template v-if="products.length != 0">
        <div>{{ products }}</div>
        <div class="list">
            <ul>
                <li v-for="product in products" :id="product.Id" v-if="ProductId.indexOf(product.Id) == -1">
                    <form>
                        <div class="im-in-cart">
                            <img :src="product.Product.ImgPath" alt="">
                        </div>
                        <p class="name-in-cart">
                            {{ product.Product.Name }}
                        </p>
                        <div class="quantity">
                            <span>Количество:</span>
                            <input type="number" min="1" name="count" class="form-control q"
                                v-on:input="SetTotalPrice" 
                                v-on:change="SaveQuantity(product.Product.Id, product.Count, product.Product)" 
                                v-model="product.Count"   
                            >
                            <br>
                            <span>На складе: </span><span> {{ product.Product.Count }} </span>
                        </div>
                        <p class="price-in-cart">
                            <span>{{ product.Product.Price * product.Count }}</span> р.
                        </p>
                        <div>
                            <button type="button" name="delfromcart" class="btn btn-primary newicon"
                                v-on:click="activateModal(product.Id, product.Product.Name)"
                                data-toggle="modal" 
                                :data-target="'#' + modalId"
                                >
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>

            <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Подтвердите действие</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6 data-text="Удалить пользователя ">Удалить продукт {{ selectProduct }} из корзины?</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Закрыть</button>
                            <form v-on:submit="deleteUser($event)" action="~/Home/RemoveProductCart" method="post" class="product-delete">
                                <input type="hidden" name="cartProductId" :value="id">
                                <button type="submit" class="btn btn-danger" v-on:click="closeModal">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <form asp-action="CartOrder" method="post" class="continue">
            <p class="total">Итоговая сумма: <span class="total-price">{{ totalPrice }}</span><span>р.</span></p>
            <input type="submit" value="Заказать" class="btn btn-primary btn-lg btn-block">
        </form>
    </template>
    <h1 class="empty" v-else>Корзина пуста</h1>
</main>