
@{
    ViewData["Title"] = "Оплаченные товары";
}

@section Scripts {
    <script src="~/js/paid-products.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.PersonalArea.GetTabsViewModel { SectionId = 3 })

<main class="container pa" id="paid-products">
    <div>{{ orders[0] }}</div>
    <div class="list-of-orders" v-scroll="scrolling" v-if="orders.length != 0">
        <ul>
            <li class="order" v-for="order in orders">
                <div class="header-of-order">
                    <p>Заказ № {{ order.Number }}</p>
                    <div class="status">
                        <span class="btn btn-success" v-if="order.IsPaid">Оплачено</span>
                        <span class="btn btn-warning" v-else>Ожидается оплата</span>
                    </div>
                    <div class="open-order"><i class="fas fa-chevron-circle-down"></i></div>
                </div>
                <div>
                    <ul>
                        <li><p>Товар</p><p>Цена</p><p>Количество</p><p>Стоимость</p></li>
                        <li v-for="product in order.CartProducts"><p>{{ product.Product.Name }}</p><p>{{ product.Product.Price }} р.</p><p>{{ product.Count }}</p><p>{{ product.Product.Price * product.Count }} р.</p></li>
                    </ul>
                    <div class="order-cost">
                        <div class="buy">
                            <form method="post" action="PayOrder" v-if="!order.IsPaid">
                                <input type="hidden" name="orderId" :value="order.Id">
                                <button type="submit" class="btn btn-success">Оплатить</button>
                            </form>
                        </div>
                        <div class="cost-of-order">
                            <span>Cтоимость заказа: {{ order.SummaryPrice }} р.</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <h1 v-else class="list-is-empty">Список заказов пуст :(</h1>
</main>