
@{
    ViewData["Title"] = "Оплаченные товары";
}

@section Scripts {
    <script src="~/js/paid-products.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.PersonalArea.GetTabsViewModel { SectionId = 3 })

<main class="container pa" id="paid-products">
    <div>{{ orders }}</div>
    <div class="list-of-orders">
        <ul>
            <li class="order">
                <div class="header-of-order">
                    <p>Заказ № 345</p>
                    <div class="status">
                        
                            <span class="btn btn-success">Оплачено</span>
                        
                            <span class="btn btn-warning">Ожидается оплата</span>
                        
                    </div>
                    <div class="open-order"><i class="fas fa-chevron-circle-down"></i></div>
                </div>
                <div>
                    <ul>
                        <li><p>Товар</p><p>Цена</p><p>Количество</p><p>Стоимость</p></li>
                        <li><p>Название</p><p>3500 р.</p><p>5</p><p>3500 * 5 р.</p></li>
                    </ul>
                    <div class="order-cost">
                        <div class="buy">
                                <form method="post" action="PayOrder">
                                    <button type="submit" class="btn btn-success">Оплатить</button>
                                </form>
                        </div>
                        <div class="cost-of-order">
                            <span>Cтоимость заказа: 7000 р.</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <h1>Список заказов пуст :(</h1>
    </div>
</main>