<ul class="nav nav-pills container nav-in-pers">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Main">Управление категориями</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Users">Управление пользователями</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Section">Управление разделами</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Analytics">Аналитика</a>
    </li>
</ul>