@model List<vladandartem.Models.DetailField>

@{
    ViewData["Title"] = "ProductDetails";
}

@section Scripts {
    <script src="~/js/details.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.AdminMenu.GetTabsViewModel { SectionId = 5 })

<main class="container details" id="detail-fields">
    <div>{{ fields }}</div>
    <div class="add-and-delete-field">
        <form method="post" class="add-field">
            <div class="form-group">
                <label for="DetailFieldName">Добавить поле</label>
                <input type="text" name="DetailFieldName" class="form-control" id="DetailFieldName" v-model="fieldName"/>
            </div>
            <button v-on:click="addField" type="button" class="btn btn-primary">Добавить</button>
        </form>
        <form action="~/AdminMenu/DetailField/Definition/Api/Add" method="post" class="definition-add">
            <div class="form-group">
                <label for="DetailFieldId">Выбрать поле</label>
                <select v-model="fieldIdForAddDefin" name="DetailFieldId" class="form-control select add-new-field" id="DetailFieldId">
                    <option value="0">Выберите поле</option>
                    <option v-for="field in fields" :value="field.Id">{{ field.Name }}</option>
                </select>
                <label for="DefinitionName">Добавить значение</label>
                <input v-model="definitionName" type="text" class="form-control" name="DefinitionName" id="DefinitionName"/>
            </div>
            <button v-on:click="addDefinition" type="submit" class="btn btn-primary">Прикрепить</button>
        </form>
        <form action="~/AdminMenu/DetailField/Api/Delete" method="post" class="del-field">
            <div class="form-group">
                <label for="DetailFieldId-del">Удалить поле</label>
                <select v-model="fieldIdForDelete" name="DetailFieldId" class="form-control add-new-field-1" id="DetailFieldId-del">
                    <option value="0">Выберите поле</option>
                    <option v-for="field in fields" :value="field.Id">{{ field.Name }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger" data-toggle="modal">Удалить</button>
        </form>
    </div>
    
    <ul class="list-of-fields">
        <li><p class="field-name">Поле</p><p class="select-value">Значение</p><p class="last-column">Действие</p></li>
        <li v-for="field in fields">
            <p class="field-name">{{ field.Name }}</p>
            <form action="~/AdminMenu/DetailField/Definition/Api/Delete" method="post" class="delete-defininion">
                <div class="select-value">
                    <select name="DefinitionId" class="form-control">
                        <option value="0">Выберите значение</option>
                        <option v-for="definition in field.Definitions" :value="definition.Id">{{ definition.Name }}</option>
                    </select>
                </div>
                <div class="last-column">
                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="">Удалить</button>
                </div>
            </form>
        </li>
    </ul>

    <div class="modal fade for-del-field" id="test" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 data-text="Удалить поле ">Удалить поле?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger delete-field">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade for-del-def" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--<a href="~/Edit?id=">Название товара</a>-->
                    <h6>Удалить значение?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger delete-def">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</main>