@model vladandartem.ViewModels.AdminMenu.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
<main class="container">
    <form class="regist" asp-action="Edit" asp-controller="Users">
        <div asp-validation-summary="All"></div>
        <div>
            <input type="hidden" asp-for="Id">
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control datepicker">
        </div>

        <label asp-for="Roles"></label><br />
        @foreach (var role in Model.Roles)
        {
            <input type="checkbox" name="Roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"": "")/> @role.Name<br />
        }

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</main>