@model vladandartem.ViewModels.AdminMenu.MainViewModel
@section Scripts {
    <script src="~/js/add-category.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.AdminMenu.GetTabsViewModel { SectionId = 1 })

<main class="container admin" id="categories">
    <div>{{ categories }}</div>
    <ul class="users">
        <li><p>Категория</p><p>Действие</p></li>
        
            <li v-for="(category, index) in categories.Categories">
                <p>{{ category.Name }}</p>
                <div class="centering">
                    <button v-on:click="activateModal(category.Id, category.Name, index)" type="submit" class="btn btn-danger delete-user" data-toggle="modal" data-target="#test">
                        Удалить
                    </button>
                </div>

            </li>
        
    </ul>
    <div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Удалить категорию {{ categoryName }}?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Закрыть</button>
                    <form v-on:submit="deleteCategory($event)" method="post" asp-action="DeleteCategory" class="delete-category">
                        <input type="hidden" name="categoryId" :value="categoryId">
                        <button v-on:click="closeModal" type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="~/AdminMenu/AddCategory" method="post" class="add-new-category">
        <div class="form-group">
            <label for="select-section">Выберите раздел</label>
            <select name="SectionId" class="form-control select" id="select-section">
                <option v-for="sections in categories.Sections" :value="sections.Id">{{ sections.Name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="add-category">Добавьте категорию</label>
            <input type="text" name="CategoryName" class="form-control add-category" id="add-category" placeholder="Название категории">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</main>