Добавьте категорию:
<form action="~/AdminMenu/AddCategory" method="post">
    <input type="text" name="CategoryName" placeholder="Название категории">
    <input type="submit" value="Добавить">
</form>