@model IEnumerable<vladandartem.Models.Section>

@{
    ViewData["Title"] = "View";
}

@section Scripts {
    <script src="~/js/add-section.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.AdminMenu.GetTabsViewModel { SectionId = 3 })

<main class="container admin admin-categories" id="sections">
    <ul class="users">
        <li><p>Раздел</p><p>Действие</p></li>
        <li v-for="(section, index) in sections">
            <p>{{ section.Name }}</p>
            <div class="centering">
                <button v-on:click="activateModal(section.Id, section.Name, index)" type="button" class="btn btn-danger delete-user" data-toggle="modal" :data-target="'#' + modalId">
                    Удалить
                </button>
            </div>
        </li>
    </ul>
    <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Удалить раздел {{ sectionName }}?</h6>
                </div>
                <div class="modal-footer">
                    <button ref="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <form v-on:submit="deleteSection($event)" action="~/AdminMenu/SectionDelete" method="post">
                        <input type="hidden" name="SectionId" :value="sectionId">
                        <button v-on:click="closeModal" type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form v-on:submit="addSection($event)" asp-action="AddSection" method="post" class="add-new-category">
        <div class="form-group">
            <label for="add-section">Добавьте раздел</label>
            <input type="text" name="sectionName" class="form-control add-category" id="add-section" placeholder="Название раздела" v-model="addSectionName">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</main>

