@model IEnumerable<User>

@section Scripts {
    <script src="~/js/users.js"></script>
}

@Html.Partial("_GetTabs", new vladandartem.ViewModels.AdminMenu.GetTabsViewModel { SectionId = 2 })

<main class="container admin" id="users">
    <ul class="users">
        <li><p>E-mail</p><p>Дата рождения</p><p>Редактирование</p><p>Удаление</p></li>
        <li v-for="user in users" :id="user.Id" v-if="UserId.indexOf(user.Id) == -1">
            <p>{{ user.UserName }}</p>
            <p>{{ user.Year }}</p>
            <p class="centering">
                <a v-on:click="setLink(user.Id)" :href="editUser" class="btn btn-primary">Изменить</a>
            </p>
            <div class="centering">
                <button v-on:click="activateModal(user.Id, user.UserName)" type="submit" class="btn btn-danger delete-user" data-toggle="modal" :data-target="'#' + modalId">
                    Удалить
                </button>
            </div>
        </li>
        
    </ul>

    <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Подтвердите действие</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 data-text="Удалить пользователя ">Удалить пользователя {{ user }}?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Закрыть</button>
                    <form v-on:submit="deleteUser($event)" method="post" action="~/AdminMenu/DeleteUser" class="user-delete" ref="userDelete">
                        <input type="hidden" name="id" :value="id" ref="userDelete">
                        <button v-on:click="closeModal" type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="create-new-user">
        <a class="btn btn-primary btn-lg" asp-action="CreateUser" role="button">Создать нового пользователя</a>
    </div>
</main>

