@{
    ViewData["Title"] = "Add product";
}

<main>
    <div class="container">
        <form action="" class="addProduct">
            <div class="product">
                <div class="img">
                    <img src="1.jpg" alt="">
                </div>
                <p class="name">
                    <label for="name">Название товара</label>
                    <input type="text" name="name" placeholder="Название" id="name">
                </p>
                <p class="price">
                    <label for="price">Цена</label>
                    <input type="text" name="price" placeholder="Цена" id="price">
                </p>
                <p class="cart">
                    <span><input type="submit" value="Добавить"></span>
                </p>
            </div>
        </form>
    </div>
</main>