@model vladandartem.Controllers.Errors;
@{
    ViewData["Title"] = "Add Product";
}

        <main class="container">
            @if(Model != null)
            {
                <ul>
                    @foreach (var error in Model.ErrorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            }

            <form action="~/Home/Add" id="add" method="post" enctype="multipart/form-data">
                <p>Изображение:</p>
                <input type="file" name="fileimg" id="file">
                <p>Название:</p>
                <input type="text" name="name" value="@ViewBag?.Name">
                <p>Цена:</p>
                <input type="text" name="price" value="@ViewBag?.Price">
                <p>Производитель:</p>
                <input type="text" name="manufacturer" value="@ViewBag?.Manufacturer">
                <p>Категория:</p>
                <input type="text" name="category" value="@ViewBag?.Category">
                <input type="submit" value="Добавить" id="addProduct">
                


                <!--<h2>Операционная система</h2>
                <p>Операционная система:</p>
                <input type="text">
                <p>Обновление операционной системы:</p>
                <input type="text">

                <h2>Процессор</h2>
                <p>Производитель процессора</p>
                <input type="text">
                <p>Тип процессора</p>
                <input type="text">
                <p>Количество ядер процессора</p>
                <input type="text">
                <p>Макс. такт. частота</p>
                <input type="text">
                <p>Кэш-память</p>
                <input type="text">

                <h2>Оперативная память</h2>
                <p>Оперативная память (RAM)</p>
                <input type="text">
                <p>Тип памяти</p>
                <input type="text">
                <p>Частота памяти</p>
                <input type="text">-->
                
            </form>
        </main>

        