@model vladandartem.Controllers.Errors;
@{
    ViewData["Title"] = "Add Product";
}

        <main class="container redact">
            <<div class="imgProd"><img src="~/images/img.jpg" alt="" class="addimg"></div>
            

            <form action="~/Home/Add" class="addandedit" method="post" enctype="multipart/form-data">
                @if(Model != null)
                    {
                        <ul class="error">
                            @foreach (var error in Model.ErrorMessages)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                <p>Изображение:</p>
                <label for="aimg" class="label">выбрать</label>
                <input type="file" name="fileimg" class="file" id="aimg">
                <p>Название:</p>
                <input type="text" name="name" value="@ViewBag?.Name">
                <p>Цена:</p>
                <input type="text" name="price" value="@ViewBag?.Price">
                <p>Производитель:</p>
                <input type="text" name="manufacturer" value="@ViewBag?.Manufacturer">
                <p>Категория:</p>
                <select name="categoryId" class="category">
                    @foreach (var category in ViewBag.CategoriesList)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                    
                </select>
                <p>Количество на складе:</p>
                <input type="number" min="0" name="count">
                <input type="submit" value="Добавить" class="addProduct">
            </form>
        </main>

        