@model vladandartem.ViewModels.Home.AddViewModel
@{
    ViewData["Title"] = "Add Product";
}

@section Scripts {
    <script src="~/js/add-and-edit.js"></script>
    <script src="~/js/add.js"></script>
}
        <main class="container redact">
            <div class="imgProd"><img src="~/images/img.jpg" alt="" class="addimg"></div>
            

            <form action="~/Home/Add" class="addandedit" method="post" enctype="multipart/form-data">
                <div class="custom-file label">
                    <input type="file" name="fileImg" class="custom-file-input file" id="aimg">
                    <label class="custom-file-label" for="aimg">Выберите фотографию</label>
                </div>
                <span asp-validation-for="fileImg"></span>
                <input type="hidden" name="product.ImgPath" id="add-img-path">
                <div class="form-group">
                    <label for="name-add">Название товара</label>
                    <input type="text" class="form-control" id="name-add" name="product.Name" value="@Model?.product?.Name">
                    <span asp-validation-for="product.Name"></span>
                </div>
                <span asp-validation-for="product.Name"></span>
                <div class="form-group">
                    <label for="Price-add">Цена</label>
                    <input type="number" min="1" name="product.price" class="form-control" id="Price-add" value="@Model?.product?.Price">
                </div>
                <div class="form-group">
                    <label for="Manufacturer-add">Производитель</label>
                    <input type="text" class="form-control" id="Manufacturer-add" name="product.Manufacturer" value="@Model?.product?.Manufacturer">
                    <span asp-validation-for="product.Manufacturer"></span>
                </div>
                
                <label for="select-add">Категория</label>
                <select name="product.CategoryId" class="form-control select" id="select-add">
                   @foreach (var category in Model?.categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                
                <div class="form-group">
                    <label for="q-add">Количество на складе</label>
                    <input type="number" class="form-control" id="q-add" min="0" name="product.count" value="@Model?.product?.Count">
                </div>
                
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </main>

        