@{
    ViewData["Title"] = "Add product";
}

<main>
    <div class="container">
        <form action="" class="addProduct" method="post" enctype="multipart/form-data">
            <div class="product">
                <p class="name">
                    <label for="name">Название товара</label>
                    <input type="text" name="name" placeholder="Название" id="name">
                </p>
                <p class="price">
                    <label for="price">Цена</label>
                    <input type="number" name="price" placeholder="Цена" id="price">
                </p>
                <div class="img">
                    <label for="img">@ViewBag.FileName Изображение</label>
                    <input type="file" name="fileimg" id="img" value="~/images/">
                </div>
                <p class="cart">
                    <span><input type="submit" value="Добавить"></span>
                </p>
            </div>
        </form>
    </div>
</main>