@{
    ViewData["Title"] = "Add product";
}

<main>
    <div class="container">
        <form action="" class="addProduct">
            <p class="name">
                <label for="name">Название товара</label>
                <input type="text" name="name" placeholder="Название" id="name">
            </p>
            <p class="price">
                <label for="price">Цена</label>
                <input type="text" name="price" placeholder="Цена" id="price">
            </p>
            <p>
                <label for="os">Операционная система</label>
                <input type="text" name="os" id="os">
            </p>
            <p>
                <label for="os">Производитель процессора</label>
                <input type="text" name="pp" id="pp">
            </p>
            <p>
                <label for="os">Тип процессора</label>
                <input type="text" name="tp" id="tp">
            </p>
            <p>
                <label for="os">Тип процессора</label>
                <input type="text" name="tp" id="tp">
            </p>
                 
            <p>
                <input type="submit" value="Добавить">
            </p>

        </form>
    </div>
</main>