@model vladandartem.ViewModels.Home.EditViewModel
@{
    ViewData["Title"] = "Redact Product";
}

@section Scripts
{
    <script src="~/js/test.js"></script>
}

        <main class="container redact">
            <div class="imgProd"><img src="@Model?.product?.ImgPath" class="addimg" alt=""></div>
            
            <form action="~/Home/Edit" class="addandedit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="product.id" value="@Model?.product?.Id">
                <input type="hidden" name="product.imgpath" value="@Model?.product?.ImgPath">
                
                <div class="custom-file label">
                    <input type="file" name="fileimg" class="custom-file-input file" id="eimg">
                    <label class="custom-file-label" for="eimg">Выберите фотографию</label>
                </div>
                <div class="form-group">
                    <label for="name-id">Название товара</label>
                    <input type="text" class="form-control" id="name-id" name="product.name" value="@Model?.product?.Name">
                    <span asp-validation-for="product.Name"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Цена</label>
                    <input type="number" min="1" name="product.price" class="form-control" id="Price" value="@Model?.product?.Price">
                </div>
                <div class="form-group">
                    <label for="Manufacturer">Производитель</label>
                    <input type="text" class="form-control" id="Manufacturer" name="product.Manufacturer" value="@Model?.product?.Manufacturer">
                    <span asp-validation-for="product.Manufacturer"></span>
                </div>
                <label for="select">Категория</label>
                <select name="product.categoryId" class="form-control select" id="select">
                <span asp-validation-for="product.CategoryId"></span>
                    @foreach (var category in Model?.categories)
                    {
                        if(Model?.product?.CategoryId == category.Id)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <div class="form-group">
                    <label for="q-id">Количество на складе</label>
                    <input type="number" class="form-control" id="q-id" min="0" name="product.count" value="@Model?.product?.Count">
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>
                
            </form>
        </main>

        