<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF=8"/>
        <title>EShop</title>
        <link href="reset.css" rel="stylesheet" type="text/css"/>
		<link href="style.css" rel="stylesheet" type="text/css"/>
        
		<meta name="viewport" content="width=device-width initial-scale=1.0">
    </head>

    <body>
        <header>
            <div><p>EShop</p></div>
            <input type="submit" value="Добавить товар">
        </header>
        <main>
            <ul>
                <li class="product">
                    <img src="1.jpg" alt=""><br>
                    <span>Ноутбук HP 15-ra072ur 3YD53EA</span>
                    <div class="quan">
                        <input type="submit" value="-">
                        <span>5</span>
                        <input type="submit" value="+">
                    </div>
                    
                    <input type="submit" value="В корзину">
                </li>
                <li class="product"></li>
                <li class="product"></li>
                <li class="product"></li>
                <li class="product"></li>
                <li class="product"></li>
                <li class="product"></li>
                <li class="product"></li>
            </ul>
        </main>
        <footer>

        </footer>
    </body>
    <script src="script.js"></script>
</html>