@{
    ViewData["Title"] = "Shop";
}
        

        <div id="sliderAndBar">
            <div class="container" id="inside">
                <div id="leftBar">
                    <ul id="navBar">
                        <li id="inf">ИНФОРМАЦИЯ</li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Информация о доставке</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Услуги</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Блог</a></li>
                    </ul>
                </div>

                <div id="mainSlider">
                    <img src="~/images/slide.jpg" alt="">
                </div>
            </div>
        </div>

        
        <main>
            <ul class="container" id="products">
                <li id="plus">
                    <a href="/home/add"></a>
                    <img src="~/images/plus.png" alt="">
                </li>
                @foreach (var SomeProduct in Model)
                {
                    <li>
                        <div class="img">
                            <img src="@SomeProduct.ImgPath" alt="">
                        </div>
                        <p class="name">
                            @SomeProduct.Name
                        </p>
                        <p class="price">
                            @SomeProduct.Price р.
                        </p>
                        <div class="links">
                            <a href="" class="cart">
                                в корзину
                            </a>
                            <a href="" class="icons"><img src="~/images/r.png" alt=""></a>
                            <a href="" class="icons"><img src="~/images/d.png" alt=""></a>
                        </div>
                    </li>
                }
                
            </ul>
        </main>
     