@model IEnumerable<vladandartem.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

        
<main>
    <ul class="container">
        <li class="product" id="plus" style="position: relative">
            <img src="~/images/plus.png" alt="" style="width: 200px; text-align: center">
            <a href="/home/add" style="position: absolute; display: block; height: 100%; width: 100%; left: 0; top: 0"></a>
        </li>
        @foreach (var SomeProduct in Model)
        {
            <li class="product">
                <div class="img">
                    <img src="~/images/1.jpg" alt="">
                </div>
                <p class="name">
                    @SomeProduct.Name
                </p>
                <p class="price">
                    @SomeProduct.Price р.
                </p>
                <p>
                    <form action="" method="post">
                        <input type="submit" value="Удалить">
                        
                    </form>
                    <a href="/home/redact">Редактировать</a>
                </p>
                <p class="cart">
                    <span>В корзину</span>
                    <img src="~/images/basket.png" alt="">
                </p>
                
            </li>
        }
        <!--<li class="product"></li>
        <li class="product"></li>
        <li class="product"></li>
        <li class="product"></li>
        <li class="product"></li>
        <li class="product"></li>
        -->
    </ul>
</main>
        
