@{
    ViewData["Title"] = "Redact product";
}

<main>
    <div class="container">
        <form action="" class="addProduct" method="post">
            <div class="product">
                <div class="img">
                    <label for="img">Изображение</label>
                    <input type="file" name="img" id="img" value="">
                </div>
                <p class="name">
                    <label for="name">Название товара</label>
                    <input type="text" name="name" id="name" value="">
                </p>
                <p class="price">
                    <label for="price">Цена</label>
                    <input type="number" name="price" id="price" value="">
                </p>
                <p class="cart">
                    <span><input type="submit" value="Сохранить"></span>
                </p>
            </div>
        </form>
    </div>
</main>