#add {
    padding: 40px 0;
    width: 300px;
}
    #add p {
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #add input {
        width: 250px;
        height: 25px;
        border: 1px solid #a1a1a1;
    }
    #add h2 {
        margin-top: 50px;

    }
    #add #file {
        height: 21px;
    }
    #addProduct {
        margin-top: 20px;
        background: #62BFC4;
    }
#imgProd {
    display: block;
    height: 500px;
    width: 500px;
}
    