#add {
    
    width: 300px;
}
    #add p {
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .category {
        width: 252px;
        height: 28px;
        border: 1px solid #a1a1a1;
        outline: none;
        padding: 0 5px;
    }
    #add input {
        width: 230px;
        height: 25px;
        border: 1px solid #a1a1a1;
        padding: 0 10px;
    }
    #add h2 {
        margin-top: 50px;

    }
    #add .file {
        height: 21px;
        padding: 0;
        width: 250px;
    }
    #add #addProduct {
        
        width: 250px;
        margin-top: 20px;
        background: #62BFC4;
    }
.imgProd {
    height: 500px;
    width: 500px;
}
    .imgProd img {
        max-width: 500px;
        max-height: 500px;
        
    }
.redact {
    justify-content: space-around;
    padding: 50px 0;
}

    .error li {
        border: 1px solid red; 
        margin-bottom: 15px;
        padding: 5px 10px;
    }