form.addandedit {
    
    width: 300px;
} 
.imgProd {
    height: 500px;
    width: 500px;
}
    .imgProd img {
        max-width: 500px;
        max-height: 500px;   
    }
.redact {
    justify-content: space-around;
    padding: 50px 0;
}
.label {
    z-index: 0;
}
.select, .label {
    margin-bottom: 16px;
}