.admin {
    padding: 30px 0;
}
    .admin-categories > form {
        margin-left: 30px;
        height: 180px;
    }
.users li {
    display: flex;
}
.users li:nth-child(2n-1){
    background: #F3F3F3;
}
    .users li p, .users li > div:last-child {
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

.add-new-category {
    border: 2px solid #e1e1d1;
    border-radius: 7px;
    padding: 30px;
}
    .add-new-category input {
        width: 270px;
    }
.create-new-user {
    margin-left: 30px;

}
.centering > button, .centering > a {
    margin-bottom: 5px;
}