.analytics > form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
    .analytics input.datepicker, .analytics select {
        width: 160px;
    }
    .analytics .margin {
        margin-top: 24px;
    }
    label.margin:hover {
        background: #fff;
        color: #007bff;
        cursor: pointer;
    }
.result {
    flex-direction: column;
}
.result > ul {
    margin-bottom: 60px;
    border: 2px solid #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
}
    
    .name-in-analitics {
        background: #007bff;
        width: 1140px;
        padding: 0 20px;
        height: 60px;
        color: #fff;
        border-bottom: 2px solid #fff;
        display: flex;
        justify-content: space-between;
    }
    .name-in-analitics > h4 {
        line-height: 60px;
    }
    .overall {
        padding: 10px 20px;
        margin: 30px;
        background: #28a745;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
    }
    .products-in-analytics:last-child > .name-in-analitics {
        border: none;
    }
    .result > ul > li > ul > li > ul{
        display: flex;
        /* */
    }
.months {
    display: flex;
    flex-wrap: wrap;

}
    .months > li {
        border: 2px solid #f3f3f3;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 30px;
        margin-left: 30px;
    }
        .months > li > h5 {
            padding: 10px 20px;
            background: #28a745;
            color: #fff;
        }
    
.months table th, .months table td {
    width: 90px;
    text-align: center;
}
.months table th:nth-child(3), .months table td:nth-child(3) {
    width: 155px;
}
.months table tr:nth-child(2n-1) {
    background: #f3f3f3;
}