.analytics > form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
    .analytics input.datepicker, .analytics select {
        width: 160px;
    }
    .analytics .margin {
        margin-top: 24px;
    }
    label.margin:hover {
        background: #fff;
        color: #007bff;
        cursor: pointer;
    }