.pa {
    justify-content: space-between;
    padding: 30px 0 0;
}
.list-of-orders {
    margin-bottom: 30px;
    border: 2px solid #e1e1d1;
    border-radius: 7px;
    overflow: hidden;
}
.order {
    width: 800px;
}
    .order > p {
        height: 60px;
        background: #007BFF;
        color: #fff;
        border-top: 2px solid #fff;
        cursor: pointer;
    }
    .order:first-child > p {
        border: none;
    }
    .order > p, .order-cost {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        font-size: 20px;
    }
        .order li {
            display: flex;
            justify-content: space-between;
        }
        .order li:nth-child(2n-1) {
            background: #F3F3F3;
        }
            .order li > p {
                padding: 10px;
            }
            .order li > p:first-child {
                width: 300px;
                padding-left: 20px;
            }
            .order li > p:not(:first-child) {
                width: 140px;
                text-align: center;
            }
        .order-cost {
            border-top: 2px solid #e1e1d1;
            text-align: right;
        }