.pa {
    justify-content: space-between;
    padding: 30px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.over {
    border: 2px solid #e1e1d1;
    margin-bottom: 30px;
}
    .order-info {
        padding: 10px;
        text-align: center;
    }
        .order-info > p > span {
            font-weight: bold;
            color: #FF5656;
        }
        .head-of-order {
            border-top: 2px solid #fff;
            padding: 8px;
            text-align: center;
            cursor: pointer;
            background: #007BFF;
            color: #fff;
        }
        .order {
            padding: 5px;
            height: 100px;
            display: flex;
            border-top: 2px solid #fff;
        }
        .pa .list {
            width: 700px;
        }
            .order > div {
                margin-right: 20px;
            }
                .order > div:first-child {
                    width: 90px;
                    height: 100%;  
                }
                .order > div:last-child {
                    width: 95px;
                    color: #FF5656;
                    font-weight: bold;
                    text-align: right;
                    margin-right: 0;
                }
                .name-and-quan {
                    width: 500px; 
                }
                    
                    .order > div > img {
                        max-width: 90px;
                        max-height: 90px;
                    }
